# Ignore Visual Studio Code configuration files
.vscode/
vendor/
.phpunit.result.*
README.md
# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
wpss.log

# Other patterns you might want to use
node_modules/
*.swp
*.DS_Store
node_modules
**/[0-9]*
build/
.idea/
