
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
RewriteEngine On
RewriteRule ^index\.php$ - [L]
# END WordPress
# BEGIN sswp
# The directives (lines) between "BEGIN sswp" and "END sswp" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
RewriteEngine On
RewriteRule ^index\.php$ - [L]
RewriteEngine On
RewriteRule ^index\.php$ - [L]
# END sswp