#my-tabs {
    background: #f7f7f7;
   
    h2, h3 {
        color: #1d2327;
        font-size: 1.3em;
        margin: 2rem 2rem;
    }
}

// Permission table Warning
#setting-error-file_permission_warning{
    margin-left: 0rem;
}

